.products .headline
{
    padding-bottom: 20px;
    margin-bottom: 20px;

}

.headline h3::before
{
    content: '';
    width: 0;
    position: absolute;
    background-color: red;
    height: 3px;
    top: 35px;
    transition: 0.5s;
}
.headline h3:hover::before
{
    width: 8%;
   
}

.products a
{
    text-decoration: none;
    color: black;
}
.product-list .product-image img
{
    transition: 1s;
}
.product-list .product-image .second-image
{
    opacity: 0;
    position: absolute;
    top: 24px;
    right: 0;
    bottom: 0;
    left: 80px;
}
.product-list .product-image:hover .second-image
{
    opacity: 1;
}

.product-list .product-image .sale
{
    position: absolute;
    top: 20px;
    left: 45px;
    color: aliceblue;
    background-color: red;
    padding: 4px;
    width: 72px;
    border-radius: 10px;
    z-index: 2;
}


.product-list .poduct-details h3
{
    font-size: 20px;
    transition: 1s;
    
}
.product-list .poduct-details h3:hover
{
    color: red;
}

.product-list .poduct-details .amount
{
    font-weight: bold;
    color: red;
}
.product-list .poduct-details .amount del
{
    font-weight: normal;
    color:grey
}

.poduct-details .add-cart
{
    border: none;
    padding: 10px;
    background-color: transparent;
    font-size: 18px;
    margin-top: 0px;
    font-weight: 600;
}
.poduct-details .add-cart:hover
{
    color: red;
}


.up-to .upto-off
{
    overflow: hidden;
}
.up-to .upto-off img
{
    height: 55vh;
    width: 100vw;
    transition: 2s;
    
    
}
.up-to .upto-off::before
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 3;

}
.up-to .upto-off:hover img
{
 transform: scale(1.1);   
}
.up-to .upto-off .up-to-content
{
    position: absolute;
    top: 30%;
    left: 32%;
    color: white;
    z-index: 4;
    text-align: center;
    
}
.up-to-content h3
{
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 600;   
    text-shadow: 2px 2px 5px rgb(216, 200, 200);
}

.up-to-content p
{
    font-size: 25px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgb(216, 200, 200);
}
.images img
{
    height: 380px;
    width: 200px;
    object-fit: cover;
}